:root {
  --color-secondary: hsl(0, 0%, 59%);
}
body {
  background-image: url("/images/bg-pattern-card.svg");
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "League Spartan", sans-serif;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /** vh using 100% of the viewpoint*/
}

.card {
  display: inline-block;
  align-items: center;
  width: 300px;
  padding: 14px;
}

.container-statistics {
  width: 300px;
  margin: 14px;
}

.container-statistic-numbers {
  font-weight: 700;
}

.container-statistic {
  font-size: 10px;
  color: var(--color-secondary);
}
.container-statistic-numbers,
.container-statistic {
  margin-left: 20px;
  text-align: center;
}

.profile-picture-victor {
  border-radius: 50%;
}
.profile-name {
  font-weight: 700;
}

.profile-location, .profile-age {
  color: var(--color-secondary);
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
}

footer a {
  text-decoration: none;
}
