:root {
  --color-secondary: hsl(0, 0%, 59%);
}

body {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "League Spartan", sans-serif;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(185, 75%, 39%);
  overflow: hidden;
}

.wrapper::before,
.wrapper::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper::before {
  top: 0;
  left: 0;
  background-image: url("/images/bg-pattern-top.svg");
  z-index: 1; /* Set a higher z-index for the top-left background */
}

.wrapper::after {
  bottom: 0;
  right: 0;
  background-image: url("/images/bg-pattern-bottom.svg");
  z-index: 1; /* Set a higher z-index for the bottom-right background */
}

.card {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 300px;
  padding: 14px;
  background-image: url('/images/bg-pattern-card.svg');
  background-size:contain; /* or background-size: contain; or specific dimensions */
}


.container-statistics {
  width: 300px;
  margin: 14px;
}

.container-statistic-numbers {
  font-weight: 700;
}

.container-statistic {
  font-size: 12px;
  color: var(--color-secondary);
}

.container-statistic-numbers,
.container-statistic {
  margin-left: 20px;
  text-align: center;
}

.profile-picture-victor {
  border-radius: 50%;
}

.profile-name {
  font-weight: 700;
}

.profile-location,
.profile-age {
  color: var(--color-secondary);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
}
